body {
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Sen', sans-serif;
}

#BodyBox {
    width: 400px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-style: ridge;
}

#EntryAddDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#EntryInput {

    width: 260px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

button {
    color: white;
    background-color: rgb(58, 109, 7);

    width: 90px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

p {
    background-color: rgb(172, 140, 0);
    width: 360px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    
}

p {
    text-align: center;

}
